<h1>Stupid Coaching</h1>

<p class="p-2">Ask your coach anything:</p>
<form action="answer" data-turbo="false" class="d-flex" >
  <input type="text" name="question"  value ="<% params[:question] %>" class="pt-1 ms-3 ps-3 form-control p-3 ">
  <input class="btn btn-primary p-3" type="submit" value="Ask!">
</form>